<template>
  <div>
    <p style="background-color:#d5d5d5;margin:0;padding:5px;">
      您当前处于
      <span class="tip">用户提交资料</span> 步骤 下一步等待
      <span class="tip">供应商接单</span>
      <el-button type="text" v-if="show === false" @click="show = true">展开</el-button>
      <el-button type="text" v-else @click="show = false">收起</el-button>

      <el-button size="small" @click="addStartNode">添加开始节点</el-button>
      <el-button size="small" @click="addEndNode">添加结束节点</el-button>
      <el-button size="small" @click="addNode">添加普通节点</el-button>
      <el-button size="small" @click="delNode">删除选中节点</el-button>
      <el-button size="small" @click="addLine">添加线</el-button>
    </p>
    <div id="myDiagramDiv" v-show="show"></div>
    <el-dialog
      title="编辑活动"
      :visible.sync="hdDialogVisible"
      :close-on-click-modal="false"
      v-dialogDrag
    >
      <el-form ref="hdForm" label-width="120px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="环节名称">
              <el-select placeholder="请选择环节名称"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="表单路径">
              <el-select placeholder="请选择表单路径"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="参与者类型">
              <el-select placeholder="请选择参与者类型"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="参与者机关范围">
              <el-select placeholder="请选择参与者机关范围"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="参与者岗位">
              <el-select placeholder="请选择参与者岗位"></el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="选择类型">
              <el-select placeholder="请选择选择类型"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="办件类型">
              <el-select placeholder="请选择办件类型"></el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="hdDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="hdDialogVisible = false">保存</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import datam from "./data";
import $ from "jquery";
// import go from "gojs";

export default {
  mixins: [datam],
  data() {
    return {
      myDiagram: null,
      show: true,
      hdDialogVisible: false
    };
  },
  mounted() {
    this.go = window.go;
    this.load();
  },
  methods: {
    load() {
      this.init();
      this.addNodeTemplate(this.User);
      this.addNodeTemplate(this.Supplier);
      // this.layout();
    },
    layout() {
      this.myDiagram.model = this.go.Model.fromJson(this.myjson);
      this.myDiagram.layoutDiagram(true);
    },

    getOption() {
      // for conciseness in defining templates
      let $ = this.go.GraphObject.make;
      let options = {
        //定义环节的类型选项
        yellowgrad: $(this.go.Brush, "Linear", {
          0: "rgb(254, 201, 0)",
          1: "rgb(254, 162, 0)"
        }),
        greengrad: $(this.go.Brush, "Linear", { 0: "#98FB98", 1: "#9ACD32" }),
        bluegrad: $(this.go.Brush, "Linear", { 0: "#B0E0E6", 1: "#87CEEB" }),
        redgrad: $(this.go.Brush, "Linear", { 0: "#C45245", 1: "#871E1B" }),
        whitegrad: $(this.go.Brush, "Linear", { 0: "#F0F8FF", 1: "#E6E6FA" }),
        bigfont: "bold 8pt Helvetica, Arial, sans-serif",
        smallfont: "bold 6pt Helvetica, Arial, sans-serif"
      };

      return options;
    },

    textStyle() {
      return {
        margin: 6,
        wrap: this.go.TextBlock.WrapFit,
        textAlign: "center",
        editable: true,
        font: this.getOption()["bigfont"]
      };
    },
    init() {
      var t = this;
      let that = this;
      let $ = this.go.GraphObject.make; //定义模板
      //定义整体图表
      this.myDiagram = $(
        this.go.Diagram,
        "myDiagramDiv",
        {
          isReadOnly: false, //是否只读，为true，则不可以拖动不可以编辑节点
          // have mouse wheel events zoom in and out instead of scroll up and down
          "toolManager.mouseWheelBehavior": this.go.ToolManager.WheelNone,
          initialAutoScale: this.go.Diagram.Uniform,
          "linkingTool.direction": this.go.LinkingTool.ForwardsOnly,
          initialContentAlignment: this.go.Spot.Center, //初始位置
          layout: $(this.go.LayeredDigraphLayout, {
            isInitial: false,
            isOngoing: false,
            layerSpacing: 50
          }),
          "undoManager.isEnabled": true //禁止撤销和重做
        }

        // {
        //       maxSelectionCount: 1, // users can select only one part at a time
        //       "toolManager.hoverDelay": 10, // how quickly tooltips are shown
        //       initialAutoScale: this.go.Diagram.Uniform, // scale to show all of the contents
        //       // "ChangedSelection": onSelectionChanged, // view additional information
        //   }
      );
      //默认节点模板
      this.myDiagram.nodeTemplate = $(
        this.go.Node,
        "Auto",
        //数据绑定
        new this.go.Binding("location", "loc", this.go.Point.parse).makeTwoWay(
          this.go.Point.stringify
        ),
        // define the node's outer shape, which will surround the TextBlock
        //定义外形
        $(this.go.Shape, "Rectangle", {
          fill: this.getOption()["yellowgrad"],
          stroke: "black",
          portId: "",
          fromLinkable: true,
          toLinkable: true,
          cursor: "pointer",
          toEndSegmentLength: 50,
          fromEndSegmentLength: 40
        }),
        $(
          this.go.TextBlock,
          "Page",
          { margin: 6, font: this.getOption()["bigfont"], editable: true },
          new this.go.Binding("text", "text").makeTwoWay()
        )
      );

      var opacity = 1;
      var down = true;

      function loop() {
        var diagram = t.myDiagram;
        setTimeout(function() {
          var oldskips = diagram.skipsUndoManager;
          diagram.skipsUndoManager = true;
          diagram.links.each(function(link) {
            var shape = link.findObject("PIPE");
            var off = shape.strokeDashOffset - 3;
            // animate (move) the stroke dash
            shape.strokeDashOffset = off <= 0 ? 60 : off;
            // animte (strobe) the opacity:
            if (down) opacity = opacity - 0.01;
            else opacity = opacity + 0.003;
            if (opacity <= 0) {
              down = !down;
              opacity = 0;
            }
            if (opacity > 1) {
              down = !down;
              opacity = 1;
            }
            shape.opacity = opacity;
          });
          diagram.skipsUndoManager = oldskips;
          loop();
        }, 60);
      }

      function spotConverter(dir) {
        if (dir === "left") return t.go.Spot.LeftSide;
        if (dir === "right") return t.go.Spot.RightSide;
        if (dir === "top") return t.go.Spot.TopSide;
        if (dir === "bottom") return t.go.Spot.BottomSide;
        if (dir === "rightsingle") return t.go.Spot.Right;
      }
      // replace the default Link template in the linkTemplateMap
      this.myDiagram.linkTemplate =
        // $(
        //   this.go.Link, // the whole link panel
        //   new this.go.Binding("points").makeTwoWay(),
        //   { curve: this.go.Link.Bezier, toShortLength: 15 },
        //   new this.go.Binding("curviness", "curviness"),
        //   $(
        //     this.go.Shape, // the link shape
        //     { stroke: "#2F4F4F", strokeWidth: 2.5 }
        //   ),
        //   $(
        //     this.go.Shape, // the arrowhead
        //     { toArrow: "kite", fill: "#2F4F4F", stroke: null, scale: 2 }
        //   ),
        //   {
        //     doubleClick: function(e, node) {
        //       // 双击事件
        //       that.openHd();
        //     }
        //   }
        // );

        $(
          this.go.Link,
          {
            toShortLength: -2,
            fromShortLength: -2,
            layerName: "Background",
            routing: this.go.Link.Orthogonal,
            corner: 15,
            fromSpot: this.go.Spot.RightSide,
            toSpot: this.go.Spot.LeftSide
          },
          // make sure links come in from the proper direction and go out appropriately
          new this.go.Binding("fromSpot", "fromSpot", function(d) {
            return spotConverter(d);
          }),
          new this.go.Binding("toSpot", "toSpot", function(d) {
            return spotConverter(d);
          }),

          new this.go.Binding("points").makeTwoWay(),
          // mark each Shape to get the link geometry with isPanelMain: true
          $(
            this.go.Shape,
            {
              isPanelMain: true,
              stroke: "#afd4fe",
              strokeWidth: 10
            },
            new this.go.Binding("stroke", "color", function(c) {
              return "#afd4fe";
            })
          ),
          $(this.go.Shape, {
            isPanelMain: true,
            stroke: "white",
            strokeWidth: 3,
            name: "PIPE",
            strokeDashArray: [20, 40]
          })
        );

        this.myDiagram.model = this.go.Model.fromJson(this.myjson);
        this.myDiagram.layoutDiagram(true);

        loop();

    },
    /**
     * options:{
     * category
     * shape:RoundedRectangle/Rectangle
     * shapeOptions:{
     * fill:bluegrad/greengrad/yellowgrad/null/redgrad/whitegrad 自定义的
     * stroke: "black",
     * portId:""
     * fromLinkable:true
     * toLinkable:
     * cursor:"pointer"
     * fromEndSegmentLength:40
     * toEndSegmentLength
     * strokeWidth
     *
     * }
     * textStyle:{
     *  margin: 9,
     *  maxSize: new this.go.Size(200, NaN),
     *  wrap: this.go.TextBlock.WrapFit,
     *  editable: true,
     *  textAlign: "center",
     *  font: smallfont
     * },
     *
     * }
     */
    addNodeTemplate(options) {
      let that = this;
      let $ = this.go.GraphObject.make;
      let fill = this.getOption()[options.shapeOptions.fill];
      options.shapeOptions.fill = fill;
      this.myDiagram.nodeTemplateMap.add(
        options.category,
        $(
          this.go.Node,
          "Auto",
          new this.go.Binding(
            "location",
            "loc",
            this.go.Point.parse
          ).makeTwoWay(this.go.Point.stringify),
          $(this.go.Shape, options.shape, options.shapeOptions),
          $(
            this.go.TextBlock,
            this.textStyle(),
            new this.go.Binding("text", "text").makeTwoWay()
          ),
          {
            doubleClick: function(e, node) {
              // 双击事件
              that.openHd();
            }
          }
        )
      );
    },
    addStartNode() {
      //添加开始节点
    },
    addEndNode() {
      //添加结束节点
      this.myDiagram.nodeTemplateMap.add(
        "End",
        $(
          this.go.Node,
          "Spot",
          null,
          $(
            this.go.Panel,
            "Auto",
            $(
              this.go.Shape,
              "Circle", // 在此处设置样式
              {
                minSize: new this.go.Size(40, 40),
                fill: "#DC3C00",
                stroke: null
              }
            ),
            $(
              this.go.TextBlock,
              "End",
              {
                font: "bold 11pt Courier New,Microsoft Yahei",
                stroke: "lightText"
              },
              new this.go.Binding("text")
            )
          )
          // this.go.makeport("T", this.go.Spot.Top, false, true),
          // this.go.makePort("L", this.go.Spot.Left, false, true),
          // this.go.makePort("R", this.go.Spot.Right, false, true)
        )
      );
    },

    addNode() {
      //添加节点
      var node = {};
      node["key"] = "节点Key";
      node["loc"] = "10 20"; //节点坐标
      node["text"] = "节点名称";
      this.myDiagram.model.addNodeData(node);
    },
    delNode() {
      //删除选中节点和线
      this.myDiagram.commandHandler.deleteSelection();
      // if (this.myDiagram.commandHandler.canDeleteSelection()) {
      //     this.myDiagram.commandHandler.deleteSelection();
      // }
    },
    addLine() {
      this.myDiagram.model.addLinkData({ from: "-1", to: "-2" });
    },
    openHd() {
      //打开环节弹出框
      let that = this;
      that.hdDialogVisible = true; //显示弹出框
    }
  }
};
</script>
<style scoped>
.tip {
  color: red;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px;
}
#myDiagramDiv {
  height: 500px;
  border: solid 1px #d3d3d3;
}
</style>
